/*
 * ----------------------------------
 *  EGAsubmit Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  container = 'shub://brucemoran/Singularity:ega.centos7'
  help = false
  sampleCsv = null
  runID = "EGAsubmit"
  fastqType = "paired"
  test = null
  email = null

}

profiles {

  genome {
    includeConfig 'conf/genome.config'
  }

  sonic {
    includeConfig 'conf/sonic.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/EGAsubmit.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/EGAsubmit.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/EGAsubmit.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/EGAsubmit.dag.svg"
}

manifest {
  name = 'brucemoran/EGAsubmit'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/EGAsubmit'
  description = 'Nextflow EGA Submission helper'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
  version = '0.1'
}
