/*
 * --------------------------------------------------------
 *  Nextflow config file for UCD Sonic HPC cluster (SLURM)
 * --------------------------------------------------------
 * Imported under 'sonic' Nextflow profile in:
 * nextflow.config
 *
 * NB that each node (67 standard) have 20 - 48 cores
 * so variabvle amounts of RAM
 */

 process {
  container = 'shub://brucemoran/Singularity:ega.centos7'
  executor = 'slurm'
  cache = 'lenient'
  memory = 1.MB
  time = '48.h'
  queue = 'shared'
  queueSize = 50
  submitRateLimit = '10 sec'
  maxRetries = 2
  beforeScript = 'export NXF_OPTS="-Xms2G -Xmx40G"; module load nextflow/22.04.5.5708 singularity/3.5.2'
}

singularity {
  cacheDir = '/home/people/moranb/singularity/nextflow'
  autoMounts = 'true'
  runOptions = '--bind /home/people/moranb,/scratch/moranb'
  enabled = 'true'
}
